# Copy this file to .env on your local instance

# This is here for Windows/WSL users, because the ansible directory cannot have it's chmod bits set
ANSIBLE_CONFIG=/work/ansible/ansible.cfg

# docker compose will read this one automagically
COMPOSE_PROJECT_NAME=key-demo

NETWORK_NAME=demo-net
IMAGE_TAG=key-demo

TOOLBOX_IMAGE_NAME=demo-toolbox
TOOLBOX_SERVICE_NAME=toolbox

BASE_IMAGE_NAME=base-server
POSTGRES_IMAGE_NAME=postgres-server
