[defaults]
inventory = inventory/hosts.yml
remote_user = deploy
private_key_file = ../keys/master_key

# Demo only: containers get rebuilt/re-IP'd often, so there's no stable host
# identity worth pinning to known_hosts. DON'T DO THIS FOR REAL
host_key_checking = False

# We didn't install the acl package on postgres, so overcome the deploy ssh user -> postgres service user
[ssh_connection]
pipelining = True
