[defaults]
inventory = inventory/hosts.yml

# This is who we become
remote_user = deploy
private_key_file = ../keys/master_key

# Demo only: containers get rebuilt/re-IP'd often, so there's no stable host
# identity worth pinning to known_hosts. DON'T DO THIS FOR REAL
host_key_checking = False

# We didn't install the acl package on postgres, so temp files get written as deploy, not postgres, and permission
# problems occur. So, skip it, no temp files, right to stdin
[ssh_connection]
pipelining = True
